body {
    margin:0;
}

a:link{color:white}

/* 图标 */
.social-icons {
    float: left;
    position: relative;
    left: 42%;
}

.social-icons i {
	width:45px;
	height:45px;
	display:inline-block;
	margin-right: 8px;
}
i.facebook {
    background: url('../picture/img-sprite.png') no-repeat 0px 0px;
	background-position: 0px 0px;
}
i.facebook:hover {
	background-position: 0px -45px;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
i.twitter {
    background: url('../picture/img-sprite.png') no-repeat 0px 0px;
	background-position: -45px 0px;
}
i.twitter:hover {
	background-position: -45px -45px;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
i.linkedin {
    background: url('../picture/img-sprite.png') no-repeat 0px 0px;
	background-position: -90px 0px;
}
i.linkedin:hover {
	background-position: -90px -45px;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
i.skype {
    background: url('../picture/img-sprite.png') no-repeat 0px 0px;
    background-position: -135px 0px;
}
i.skype:hover {
    background-position: -135px -45px;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

/* preloader section */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
   width: 100%;
  height: 100%;
   z-index: 99999;
   display: -webkit-flex;
    display: -ms-flexbox;
   display: flex;
   -webkit-flex-flow: row nowrap;
   -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
     -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
    background: none repeat scroll 0 0 #fff;
  background: none repeat scroll 0 0 #f9f9f9;
}
.sk-spinner-wordpress.sk-spinner {
  background-color: #01DFA5;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: relative;
  -webkit-animation: sk-innerCircle 1s linear infinite;
          animation: sk-innerCircle 1s linear infinite; }
.sk-spinner-wordpress .sk-inner-circle {
  display: block;
  background-color: #fff;
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 8px;
  top: 5px;
  left: 5px; }

@-webkit-keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
/* header-section text */
.header-section h1 {
    text-align: center;
    font-family: 'Nunito-Bold';
    font-size: 4em;
    text-transform: capitalize;
    color: #393b3a;
    padding: 0.5em 0 0 0;
}

.header-section p {
    text-align: center;
    font-family: 'Nunito-Bold';
    font-size: 1.3em;
    color: #393b3a;
}

/* mainmeun */
ul.mainmeun {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: #333;
    width: 100%;
}

ul.mainmeun li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.mainmeun li {
    float: left;
}

/* dropdown */
.dropbtn {
    background-color: #333;
    font-family: 'Nunito-Bold';
    font-size: 16px;
    color: white;
    padding: 14px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #01DFA5;
}

/* meunresume */
ul.meunresume {
    list-style-type: none;
    margin-top:46px;
    padding: 0;
    width: 15%;
    background-color: #FFFFFF;
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul.meunresume li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* active or not active */
.active {
    background-color: #01DFA5;
    color:white;
}

li a:hover:not(.active) {
    background-color: #111;
    color:white;
}

/* footer */
.footer {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
}

/* contact */
.text{
    text-align: center;
	margin-bottom:1em;
}
.text input[type="text"]{
	width:50%;
	padding:15px 10px;
	border:1px solid #2980b9;
	background:#f1f2f7;
	color:#7f8a90;
	outline:none;
	border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	-moz-border-radius:6px;
	-ms-border-radius:6px;
	font-weight:300;
	font-style:italic;
	font-size:16px;
	-webkit-appearance: none;
}
.text textarea{
	width:50%;
	padding:10px;
	border:1px solid #2980b9;
	background:#f1f2f7;
	color:#7f8a90;
	outline:none;
	border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	-moz-border-radius:6px;
	-ms-border-radius:6px;
	font-weight:300;
	font-style:italic;
	font-size:16px;
	height:200px;
	resize:none;
	-webkit-appearance: none;
}
.text input[type="submit"]{
	background:#2980b9;
	color:#fff;
	padding:10px 15px;
	font-size:16px;
	outline:none;
	cursor:pointer;
	-webkit-appearance: none;
	border-radius:6px;
	-webkit-border-radius:6px;
	-o-border-radius:6px;
	-moz-border-radius:6px;
	-ms-border-radius:6px;
	border:0px;
	text-transform:uppercase;
}
.text input[type="submit"]:hover{
	background:#6ab8ea;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
	
}