body {
    margin:0;
    background-color:#99CCCC;
}

a:link{color:white}

/* header-section text */
.header-section h1 {
    text-align: right;
    margin-right: 37%;
    font-family: 'Nunito-Bold';
    font-size: 4em;
    text-transform: capitalize;
    color: #393b3a;
    padding: 0.5em 0 0 0;
}

.header-section p {
    text-align: right;
    margin-right: 37%;
    font-family: 'Nunito-Bold';
    font-size: 1.3em;
    color: #393b3a;
}

/* mainmeun */
ul.mainmeun {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    background-color: #333;
    width: 100%;
}

ul.mainmeun li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.mainmeun li {
    float: left;
}

/* dropdown */
.dropbtn {
    background-color: #333;
    font-family: 'Nunito-Bold';
    font-size: 16px;
    color: white;
    padding: 14px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #01DFA5;
}

/* meunresume */
ul.meunresume {
    list-style-type: none;
    margin-top:46px;
    padding: 0;
    width: 15%;
    background-color: #FFFFFF;
    position: fixed;
    height: 100%;
    overflow: auto;
}

ul.meunresume li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

/* active or not active */
.active {
    background-color: #01DFA5;
    color:white;
}

li a:hover:not(.active) {
    background-color: #111;
    color:white;
}

/* footer */
.footer {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
}
