body {margin:0;}

div.content {
    margin-left: 190px;
    padding: 1em;
}

div.container {
    width: 100%;
    margin: 0px;
    line-height: 100%;
}

.header-section {
    min-height: 350px;
}
.header-section h1 {
    text-align: right;
    margin-right: 37%;
    font-family: 'Nunito-Bold';
    font-size: 4em;
    text-transform: capitalize;
    color: #393b3a;
    padding: 0.5em 0 0 0;
}

.header-section p {
    text-align: right;
    margin-right: 37%;
    font-family: 'Nunito-Bold';
    font-size: 1.3em;
    color: #393b3a;
}

.progress {
    margin: 10px 0;
    box-shadow: none;
}
.progress-bar-success {
    background-color: #DEECDF;
    box-shadow: none;
}
.progress-bar-info {
    background-color: #ACB5B8;
    box-shadow: none;
}
.progress-bar-warning {
    background-color: #78B3AE;
    box-shadow: none;
}
.progress-bar-danger {
    background-color: #8C9D82;
    box-shadow: none;
}

ul.mainmeun {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
}

ul.meunresume {
    list-style-type: none;
    margin-top:150px;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 30%;
    overflow: auto;
}

ul.mainmeun li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.meunresume li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

ul.mainmeun li {
    float: left;
}

.active {
    background-color: #01DFA5;
    color:white;
}

li a:hover:not(.active) {
    background-color: #111;
    color:white;
}

ul.skills {
    padding: 0;
}

ul.skills li {
    background-color: #727e7f;
    position: relative;
    line-height: 2em;
    margin: 1em 0;
    padding: 0 .5em;
    color: white;
}

ul.skills li span {
    position: relative;
    z-index: 10;
    font-size: .8em;
}

ul.skills li:after {
    position: absolute;
    left: 3px;
    top: 3px;
    bottom: 3px;
    content: '';
}

ul.skills li.one:after {
    width: 10%;
}

ul.skills li.two:after {
    width: 20%;
}

ul.skills li.three:after {
    width: 30%;
}

ul.skills li.four:after {
    width: 40%;
}

ul.skills li.five:after {
    width: 50%;
}

ul.skills li.six:after {
    width: 60%;
}

ul.skills li.seven:after {
    width: 70%;
}

ul.skills li.eight:after {
    width: 80%;
}

ul.skills li.nine:after {
    width: 90%;
}

ul.skills li.ten:after {
    right: 3px;
}

ul.skills.other li:after {
    background-color: #31B404;
}

ul.skills.program li:after {
    background-color: #34495e;
}

ul.skills.web li:after {
    background-color: #DF0101;
}


